<div class="container">
    <h1>Documents</h1>
    <div class="main">
        <div class="container">
            <button type="button" class="btn btn-outline-primary">  
                <%= link_to 'Upload a New Document', new_document_path %>
            </button>
        </div>

    <% @documents.each do | document | %>
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">
                <% if document.title? %>
                    <%= document.title %>
                <% else %>
                    &nbsp;
                <% end %>
            </h5>
        <p class="card-text">
            <strong>Category: </strong>
            <% if document.category? %>
            <%= sanitize(document.category) %>
        <% else %>
            &nbsp;
        <% end %>

        <p class="card-text" style="min-height: 4rem">
            <strong>Description: </strong>
            <% if document.description? %>
                <%= sanitize(document.description) %>
            <% else %>
                &nbsp;
            <% end %>
        </p>


</div>

            <div class="card-footer">
                <span class="contact_buttons">
                    <%# <button type="button" class="btn btn-outline-primary">
                        <%= link_to 'View Details', document %>
                    <%# </button> %>

                    <button type="button" class="btn btn-outline-primary"> 
                        <%= link_to "Download", rails_blob_url(document.file, disposition: "attachment") %>
                    </button>

                    <% if user_signed_in? %>
                        <% if document.user_id == current_user.id %>
                            <button type="button" class="btn btn-outline-primary">
                                <%= link_to 'Edit', edit_document_path(document) %>
                            </button>

                            <button type="button" class="btn btn-outline-primary">
                                <%= link_to 'Delete', document, method: :delete, data: { confirm: 'Are you sure?' } %>
                            </button>
                        <% end %>
                    <% end %>
                </span>
            </div>

</div>

    <% end %>
</div>
</div>

<br>