<div class="container">
    <h1>
    <%= sanitize(@document.title) %>
    </h1>

    <p>
    <strong>Title:</strong>
    <%= @document.title %>
    </p>

    <p>
    <strong>Description:</strong>
    <%= sanitize(@document.description) %>
    </p>

    <p>
    <strong>Category:</strong>
    <%= @document.category %>
    </p>

    <p>
    <button type="button" class="btn btn-outline-primary">
        <%= link_to 'Download file', rails_blob_url(@document.file, disposition: "attachment") %>
    </button>
    </p>

    <br>

    <% if user_signed_in? %>
        <% if @document.user_id == current_user.id %>
            <button type="button" class="btn btn-outline-primary">
            <%= link_to 'Edit', edit_document_path(@document) %>
            </button>
        <% end %>
    <% end %>

    <button type="button" class="btn btn-outline-primary">
        <%= link_to 'View All Documents', documents_path %>
    </button>

    <br>
</div>