<section class="upload_form">
  <%= form_with(model: link) do |form| %>
    <% if link.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

        <ul>
          <% link.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label "Link*" %>
      <%= form.url_field :link %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div class="field">
      <%= form.label :category %>
      <%= form.select :category,
      %w( Charter Equipment Food General Insurance Transfers ) %>
    </div>

    <br>

    <div class="actions upload_button">
      <%= form.submit %>
    </div>

    <br>

  <% end %>

</section>