<div class="container">
    <h1>Links</h1>
    <div class="main">
        <% @links.each do | link | %>

        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">
                <% if link.title? && link.link? %>
                    <%= link_to "#{link.title}", link.link, target: "blank" %>
                <% else %>
                    &nbsp;
                <% end %>
            </h5>
    
            <p class="card-text">
                <strong>URL: </strong>
                <% if link.link? %>
                    <%= link.link %>
                <% else %>
                    &nbsp;
                <% end %>
            </p>

            <p class="card-text">
                <strong>Category: </strong>
                <% if link.category? %>
                    <%= sanitize(link.category) %>
                <% else %>
                    &nbsp;
                <% end %>
            </p>

            <p class="card-text">
                <strong>Description: </strong>    
                <% if link.description? %>
                    <%= sanitize(link.description) %>
                <% else %>
                    &nbsp;
                <% end %>
            </p>
            </div>

            <div class="card-footer">
                <span class="link_buttons">
                    <button type="button" class="btn btn-outline-primary"> 
                        <%= link_to 'View Details', link %>
                    </button>

                    <% if user_signed_in? %>
                        <% if link.user_id == current_user.id %>
                            <button type="button" class="btn btn-outline-primary"> 
                                <%= link_to 'Edit', edit_link_path(link) %>
                            </button>

                            <button type="button" class="btn btn-outline-primary"> 
                                <%= link_to 'Delete', link, method: :delete, data: { confirm: 'Are you sure?' } %>
                            </button>
                        <% end %>
                    <% end %>
                </span>



        </div>
        </div>
      <% end %>
    </div>
</div>



<div class="container">
    <button type="button" class="btn btn-outline-primary"> 
        <%= link_to 'Add a New Link', new_link_path %>
    </button>

</div>