<h1>Photos</h1>
 <% @posts.each do | post | %>

    <% if post.title? %>
        <strong>Title: </strong><%= post.title %>
    <% else %>
        <&nbsp;>
    <% end %>

    <% if post.comment? %>
        <strong>Comment: </strong><%= sanitize(post.comment) %>
    <% else %>
        <&nbsp;>
    <% end %>

<%# Update this later to be managed in CSS or the pics will be tiny on mobile %>
    <%= image_tag url_for(post.photo), style:'width:20%' %>

    <%= link_to 'Download photo', rails_blob_url(post.photo, disposition: "attachment") %> 
    
    <% if user_signed_in? %>
    <% if post.user_id == current_user.id %>
        <%= link_to 'Edit', edit_post_path(post) %>
    <% end %>
<% end %>

<% end %>
