<div class="container">
    <h1>Photos</h1>
    <div class="main">
        <div class="container">
            <button type="button" class="btn btn-outline-primary">  
                <%= link_to 'Add a New Photo', new_post_path %>
            </button>
        </div>

    <% @posts.each do | post | %>
        <div class="card" style="width: 18rem;">
        <%= image_tag url_for(post.photo), class:"card-img-top" %>
  
        <div class="card-body">

        <h5 class="card-title">
        <% if post.title? %>
            <%= post.title %>
        <% else %>
            &nbsp;
        <% end %>
        </h5>

        <p class="card-text">
        <% if post.comment? %>
            <%= sanitize(post.comment) %>
        <% else %>
            &nbsp;
        <% end %>
        </p>

<div class="card_buttons">
    <button type="button" class="btn btn-outline-primary">
        <%= link_to 'Download', rails_blob_url(post.photo, disposition: "attachment") %> 
    </button>

    <button type="button" class="btn btn-outline-primary">
        <%= link_to 'View Full Size', post %>
    </button>    
        
        <% if user_signed_in? %>
        <% if post.user_id == current_user.id %>
            <button type="button" class="btn btn-outline-primary">
            <%= link_to 'Edit', edit_post_path(post) %>
            </button>
            <button type="button" class="btn btn-outline-primary">
            <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            </button>
        <% end %>
    <% end %>
    </div>

      </div>
</div>

    <% end %>
    </div>
</div>
