<div class="container">
    <h1>Itinerary</h1>
    <div class="main">
    <% @activities.each do | activity | %>
        <div class="card" style="width: 100%;">
        <div class="card-body">
            <h5 class="card-title">
                <% if activity.title? %>
                    <%= sanitize(activity.title) %>
                <% else %>
                    &nbsp;
                <% end %>
            </h5>

            <p class="card-text">
                <strong>Date: </strong>
                <% if activity.date? %>
                    <%= activity.date.strftime("%A %-d-%b-%Y") %>
                <% else %>
                    &nbsp;
                <% end %>
            </p>

            <p class="card-text">
                <strong>Time: </strong>
                <% if activity.time? %>
                    <%= activity.time.strftime("%l:%M %P") %>
                <% else %>
                    &nbsp;
                <% end %>
            </p>

            <p class="card-text">
            <strong>Description: </strong>
                <% if activity.description? %>
                    <%= sanitize(activity.description) %>
                <% else %>
                    &nbsp;
                <% end %>
            </p>
            </div>

            <div class="card-footer">
                <%# <span class="activity_buttons"> %>
                    <%# <button type="button" class="btn btn-outline-primary"> 
                        <%= link_to 'View Details', activity %>
                    <%# </button> %> 

                    <% if user_signed_in? %>
                        <% if activity.user_id == current_user.id %>
                            <button type="button" class="btn btn-outline-primary"> 
                                <%= link_to 'Edit', edit_activity_path(activity) %>
                            </button>

                            <button type="button" class="btn btn-outline-primary"> 
                                <%= link_to 'Delete', activity, method: :delete, data: { confirm: 'Are you sure?' } %>
                            </button>
                        <% end %>
                    <% end %>
                </span>
            </div>
        </div>
    <% end %>
</div>
</div>

<br>

<div class="container">
    <button type="button" class="btn btn-outline-primary">  
        <%= link_to 'Add a New Activity', new_activity_path %>
    </button>
</div>
