<h1>
<%= sanitize(@activity.title) %>
</h1>

<% if @activity.description?%>
    <p>
    <strong>Description:</strong>
    <%= sanitize(@activity.description) %>
    </p>
<% else %>
    &nbsp;
<% end %>

<% if @activity.date?%>
    <p>
    <strong>Date:</strong>
    <%= @activity.date.strftime("%A %-d-%b-%Y") %>
    </p>
<% else %>
    &nbsp;
<% end %>

<% if @activity.time?%>
    <p>
    <strong>Time:</strong>
    <%= @activity.time.strftime("%l:%M %P") %>
    </p>
<% else %>
    &nbsp;
<% end %>

<br>

<% if user_signed_in? %>
    <% if @activity.user_id == current_user.id %>
        <button type="button" class="btn btn-info">
        <%= link_to 'Edit', edit_activity_path(@activity) %>
        </button>
    <% end %>
<% end %>

<button type="button" class="btn btn-info">
<%= link_to 'Back', activities_path %>
</button>

<br>